# -------------------------
# Python bytecode
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environments
# -------------------------
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# -------------------------
# Distribution / packaging
# -------------------------
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# -------------------------
# PyInstaller
# -------------------------
*.manifest
*.spec

# -------------------------
# Unit test / coverage
# -------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# -------------------------
# Logs & l
node_modules/
.wwebjs_cache/
.wwebjs_auth/
sprite_sheet/frames
sprite_sheet/sprite_sheet.png

